@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Spartan', sans-serif;
}


a{
    text-decoration: none;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    h1{
        a{
            color: #F2CB05;
            margin: 2rem;
        }
    }
    nav{
        display: flex;
        a{
            margin: 1rem;
            color: white;
        }
    }
}

#saludo{
    margin: 3rem;
    padding: 1rem;
    border: solid 2px #F2CB05;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

//Contador

button{
    margin: 0.2rem;
    padding: 0.8rem;
    background-color: #212121;
    color: #F2CB05;
    border: none;
    border-radius: 10px;
}

button:active { 
    background: #F2CB05;
    color: #212121;
} 

#bot{
    display: flex;
    justify-content: center;
    align-items: center;
}

#conta{
    border: #212121 1px solid;
    border-radius: 10px;
    padding: 1rem;
}