@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Spartan', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    h1{
        a{
            color: #F2CB05;
            margin: 2rem;
        }
    }
    nav{
        display: flex;
        a{
            margin: 1rem;
            color: white;
        }
    }
}


a{
    text-decoration: none;
}