@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html,
body,
#root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}


a{
    text-decoration: none;
}

#logo{
    font-size: x-large;
    color: #F2CB05;
    margin: 2rem;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    nav{
        display: flex;
        a{
            margin: 1rem;
            color: white;
        }
    }
}

main {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
}

#mov:hover{
    color: #F2CB05;
}

#saludo{
    margin: 3rem;
    padding: 1rem;
    border: solid 2px #F2CB05;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

//Count

#boton{
    text-decoration: none;
    font-size: small;
    margin: 0.2rem;
    padding: 0.8rem;
    background-color: #212121;
    color: #F2CB05;
    border: #999E9E 1px solid;
    border-radius: 10px;
}

#boton:active { 
    background: #F2CB05;
    color: #212121;
} 

#bot{
    display: flex;
    justify-content: center;
    align-items: center;
}

#conta{
    border: #212121 1px solid;
    border-radius: 10px;
    padding: 1rem;
}

//CartItem

#item{
    width: 35vh;
    border: #999E9E 1px solid;
    border-radius: 5px; 
    justify-content: space-around;
    text-align: center;
    align-items: center;
    img{
        margin: 1rem;
        height: 20vh;
        border: #212121 0.8px solid;
        border-radius: 3px;
    }
    div{
        h2{ 
            font-weight: bolder;
            font-size: 1rem;
        }
    }
}

#itemList{
    display: flex;
    justify-content: center;
}

#loading{
    display: flex;
    justify-content: center;
}


//IDetalil

#detail{
    background-color: #212121;
    color: white;
    padding: 1rem;
    border: #999E9E 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    img{
        margin: 1rem;
        border: #212121 0.8px solid;
        border-radius: 3px;
    }

    div{
        padding: 0.5rem;
        align-items: center;
        h2{
            font-weight: bolder;
            color: #F2CB05;
        }
        
    }
}


//Footers

#footer{
    margin-top: 1rem;
    background-color: #212121;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8em;   
}